body{
    font-family: 'Roboto', sans-serif;
    margin-top: 55px;
}
p{
    color: gray;
    font-size: 20px;
}
.image-area{
    background-color: hsl(22, 97%, 63%);
    

}
.card{
    height: 320px;
}
.packages img{
    height: 170px;

}
.login-bg{
    background-color: hsl(22, 79%, 68%);
    /* background-image: linear-gradient(45deg,orange,rgb(168, 209, 53)); */

  
}
.login-area{
    
    background-color: #fff;
    padding: 30px;
    margin-top: 75px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.signUp-bg{
    background-color: hsl(22, 79%, 68%);
 
}
.signUp-area{
    
    background-color: #fff;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.header{
    width:100%;
    height: 400px;
    background-image: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px solid black;
   
}
.navbar{
    position: fixed;
}
.header h3{
    
    font-weight: bolder;
}
.header-info{
    color: white;
    
}
.squad{
    width:100%;
    height: 400px;
    background-image: url("../images/squad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px solid black;
   
}
.squad h3{
    
    font-weight: bolder;
}
.header-info{
    color: b;
    
}

.description h1{
    color: chocolate;
    font-size: 22px;
    margin-top: 10px;
}
p{
    font-weight: bolder;
}
.img-description {
    color: white;
    
}
.topTitle{
    color: rgb(209, 204, 204);
}
.regBtn{
    background-color: #50b649;
    color: white;
}
.rules{
    font-weight: bolder;
}
li{
    font-weight: bolder;
}
.squad-bg{
    background: url(../image/background.png) no-repeat;
    
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.reg-area{
    
    background-color: #fff;
    padding: 30px;
    top: 10vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.call-reg-area{
    
    background-color: #fff;
    padding: 20px;
    top: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.reg-logo{
    justify-content: center;
}
.title{
    color:  hsl(22, 79%, 68%);
}
.button{
    background-color:hsl(22, 79%, 68%);
}
.details-btn{
    background-color:hsl(22, 79%, 68%);
}
.close-button{
    /* background-image: linear-gradient(45deg,orange,red); */
    background-color: hsl(22, 97%, 63%);
    color:#fff ;
    border: none;
    display: block;
    
    width: 30px;
  }
  .registration{
    background-color: hsl(22, 97%, 63%);
  }
  
@media only screen and (max-width){
    .bg{
        background-size: 300%;
    }
}
@media only screen and (max-width){
    .signUp-bg{
        background-size: 300%;
    }
}
@media only screen and (max-width){
    .login-bg{
        background-size: 300%;
    }
}
@media only screen and (max-width: 576px){
.display-3{
    margin-top: 50px;
    font-size: 20px;
}

}
